{% set pagetitle = 'Consent withdrawal'|trans %}
{% extends "base.twig" %}

{% block content %}
    <h2>{{ 'Consent withdrawal'|trans }}</h2>
    {% if removed != -1 %}
        <p>{{ 'All consent have been withdrawn.'|trans }}</p>
        {% if backUrl != '' %}
            <button type="button"><a href="{{ backUrl }}" class="button">{{ 'Back'|trans }}</a></button>
        {% endif %}
    {% else %}
        <p>{{ 'User ID'|trans }}: {{ userId }}</p>
        <p>{{ 'You have earlier granted %NO% consents to %OF% different services.'|trans({'%NO%': consents, '%OF%': consentServices}) }}</p>
        <p>{{ 'If you withdraw all consents given, you will be asked again each time you visit a new service, whether or not you would like to accept that a given set of personal information are transferred.'|trans }}</p>

        <form method="get" action="{{ moduleURL('consentSimpleAdmin/admin') }}">
            <button type="submit" name="withdraw" value="OK">{{ 'Withdraw all consent given'|trans }}</button>
            {% if backUrl != '' %}
                <button type="button"><a href="{{ backUrl }}" class="button">{{ 'Back'|trans }}</a></button>
            {% endif %}
        </form>
    {% endif %}

{% endblock %}
